.custom-badge .mat-badge-content{
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 24px;
    background-color: black;
}
.custom-badge .mat-icon{
    font-size: 32px;
    width: 32px;
    height: 32px;
}
.custom-badge span {
    font-size: 16px; /* Adjust text size */
    font-weight: 500; /* Optional: make text slightly bolder */
    color: white;
  
  }
 
  #header{
    background-color: white
  }
  .custom-badge {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
  }
 
a{
    &.active{
        color: blue;
    }
}